<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="center">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/createNote">Create Note</a></li>
        </ul>
    </nav>
    <h1>Note #: <%= note.id %></h1>
    
</body>
</html>