<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="center">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/createNote">Create Note</a></li>
        </ul>
    </nav>
    <div style="margin-left: 20%; margin-right: 20%;" class="center">
        <h1>Note Page</h1>
        <h1><%= note.title %></h1>
        <p><%= note.content %></p>
        <p><%= new Date(note.timestamp) %></p>
        <form class="center" action="/notes/<%= note.id %>/delete" method="POST">
            <button type="submit">Delete Note</button>
        </form>
    </div>
</body>
</html>