<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Notes</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="center">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/createNote">Create Note</a></li>
        </ul>
    </nav>
    <main class="center">
        <h1>Notes Page</h1>
        <form action="/notes" method="get" class="center">
            <input type="text" name="searchContent" placeholder="Search Notes...">
            <button type="submit">Search</button>
        </form>
        <ul class="center">
        <% notes.forEach(note => { %>
            <li class="center"><h1><%= note.title  %></h1>
            <p><%= note.content.substring(0,100)  %>...</p>
            <p><%= new Date(note.timestamp)  %></p>
            <a href="/notes/<%= note.id %>">View More...</a>
        </li>

        <%  }) %>
        </ul>
    </main>
</body>
</html>