*{
    padding: 0%;
}
body{
    font-family: Orbitron;
    color: azure;
    background-color: black;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}